#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.buttons {
  margin: 10px;
}

.output {
  background-color: black;
  padding: 0.3rem;
  min-height: 1.6rem;
}

.error {
  background-color: black;
  color: red;
  padding: 0.3rem;
  min-height: 1.6rem;
}
